div.wrapper
  header.site-header
    h2
      a(class="logo ir" href=blog.url)= blog.title

  != content

  footer.main-footer
    .container.clearfix
      p
        | All content copyright Michael Wellner 2016. All rights reserved.
      p
        | Proudly published with gh-blog. Theme designed by Raphael Riegger.
