div.wrapper
  header.site-header
    h2
      a(class="logo ir" href=blog.url)= blog.title

  .container.clearfix.wrapperContent
    main.content(role="main")
      != content

    aside.author
      img(class="profile-image" src=blog.owner.avatar alt=blog.owner.name)
      p.name
        | by&nbsp;
        strong= blog.owner.name
      p.address
        | Munich, Germany
      p
        a(href="http://www.michaelwellner.de" title="Michael Wellner") michaelwellner.de

      ul.social
        li
          a(class="icon-twitter" href="http://twitter.com/cokeSchlumpf" title="Follow me on Twitter" target="_blank")
          a(class="icon-github" href="http://github.com/cokeSchlumpf" title="cokeSchlumpf@Github" target="_blank")

  footer.main-footer
    .container.clearfix
      p
        | All content copyright #[a(href="http://www.michaelwellner.de") Michael Wellner] 2016. All rights reserved.
      p
        | Proudly published with gh-blog. Theme designed by #[a(href="http://rriegger.com/") Raphael Riegger].
