div
  header.site-header
    h2
      a(class="logo ir" href=blog.url)= blog.title

  .content= content

  foot.main-footer
    .container.clearfix
      p
       | All content copyright Michael Wellner 2016. All rights reserved.
       | Proudly published with gh-blog. Theme designed by Raphael Riegger.
