article.post
  h1
    a(href=post.url title=post.title)= post.title
  footer.post-info
    | Posted on #[span.post-meta= post.publishedDate].

  div.markdown-body
    != post.contentSnippet
    != post.content

div.comments
  h3 Comments

  div#disqus_thread
  script
    | var disqus_config = function () {
    |   this.page.url = "#{blog.baseUrl}#{post.link}";
    |   this.page.identifier = "#{post.key}";
    | };
    | (function() { // DON'T EDIT BELOW THIS LINE
    |   var d = document, s = d.createElement('script');
    |   s.src = '//rethinkit.disqus.com/embed.js';
    |   s.setAttribute('data-timestamp', +new Date());
    |   (d.head || d.body).appendChild(s);
    | })();
  noscript Please enable JavaScript to view the [a(href="https://disqus.com/?ref_noscript" rel="nofollow") comments powered by Disqus].

script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57506734d41cd39d")
script(id="dsq-count-scr" src="//rethinkit.disqus.com/count.js" async)
